
/* カスタムアニメーションやフォント微調整 */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#loading-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}
